{
  "extends": [
    "react-app", 
    "react-app/jest"
  ],
  "rules": {
    "no-trailing-spaces": "warn",
    "indent": ["warn", 2, { "SwitchCase": 1 }],
    "no-mixed-spaces-and-tabs": "warn",
    "quotes": ["error", "single"],
    "semi": "error",
    "semi-style": ["error", "last"],
    "comma-dangle": ["error", "always-multiline"],
    "max-len": ["warn", { "code": 120 }],
    "object-curly-spacing": ["warn", "always"],
    "eol-last": ["warn", "always"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "off"
  },
  "overrides": [
    {
      "files": [
        "**/*.stories.*"
      ],
      "rules": {
        "import/no-anonymous-default-export": "off"
      }
    }
  ],
  "ignorePatterns": [
    "node_modules/", 
    "build/"
  ]
}
