.App {
  text-align: center;
  background-color: #2C313D;
  min-height: 100vh;
}

.App svg {
  fill: currentColor;
}

.GitHubLink {
  display: flex;
  position: absolute;
  top: 0; right: 0;
  justify-content: center;
  align-items: center;
  width: 1.5rem; height: 1.5rem;
  color: #76819e;
  padding: 0.5rem;
}

.GitHubLink:hover {
  color: white;
}
